.StoryItem{
  background-color: white;
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
  /* border-bottom: 1px solid #3498db;
  border-top: 1px solid #3498db;
  border-right: 1px solid #3498db;
  border-left: 1px solid #3498db; */
  margin: 1.5em 0;
  box-shadow: 0 3px 3px rgba(0,0,0,0.30);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  color: black;
  width: 100%;
  padding: .5em;
  display: flex;
}

.clickable{
  display: inline-block;
  border-bottom: 1px solid grey;
  justify-content: space-between;
  cursor: pointer;
}

.StoryItem button{
  padding: .5em .5em;
  text-decoration: none;
  border: 1px solid #3498db;
  background-color: #3498db;
  color: white;
  transition: .5s background-color;
}

.StoryItem button:hover{
  border: 1px solid #3498db;
  background-color: white;
  color: #3498db;
}

.StoryItem:hover {
  box-shadow: 2px 10px 10px rgba(0,0,0,0.25), 2px 1px 8px rgba(0,0,0,0.22);
  text-decoration: none;
}

.StoryItem .comments{
  display: inline-block;
}

.subContent{
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .subContent{
    flex-direction: column;
  }
}

.title{
  display: inline-block;
  color: rgb(51, 122, 183);
  font-size: 1.6em;
}
