.StoryItem{
  /* background-color: #3498db; */
  display: flex;
  /* border: 1px solid white; */
  border-bottom: 1px solid #3498db;
  border-top: 1px solid #3498db;
  border-right: 1px solid #3498db;
  border-left: 1px solid #3498db;

}

.votes{

  height: 100%;
  /* background-color: yellow; */
  padding: 1em;
  text-align: center;
}

.storyContent{
  border-left: 1px solid #3498db;
  width: 100%;
  padding: .5em;
  display: flex;
  flex-direction: column;
}

.subContent{
  display: flex;
  justify-content: space-between;
}
.title{
  /* color: white; */
  font-size: 1.6em;
}
