.StoryItem{
  background-color: #3498db;
  display: flex;
  border: 1px solid white;
}

.votes{
  border-right: 1px solid white;
  padding: 0 1em;
  text-align: center;
}

.storyContent{
  padding-left: 1em;
}

.subContent{
  display: flex;
  justify-content: space-between;
}
.title{
  color: white;
  font-size: 1.6em;
}
