.App {
  /* text-align: center; */
  width: 100%;
  margin: auto;
  background-color: #ecf0f1;
}

.App-title{
  width: 100%;
}

.routerWrapper{
  margin: auto;
  width: 60%;
}


@media (max-width: 768px) {
  /* .App{
    width: 90%;
  } */
  .routerWrapper{
    width: 90%;
  }

  .App-title{
    font-size: 2em;
  }
}

html, body{
  background-color: #ecf0f1;
  margin: 0;
  padding: 0;
  width: 100%;
}
